{
    "server": {
        "base_url": "https://example.com",
        "port": 3000
    },
    "slack": {
        "client_id": "1234567890123.1234567890123",
        "client_secret": "abcdef1234567890abcdef1234567890",
        "signing_secret": "abcdef1234567890abcdef1234567890"
    },
    "nws": {
        "user_agent": "Slack Weather Bot"
    }
}