requests==2.31.0
slack-bolt==1.18.0
pynamodb==5.5.0
shapely==2.0.1
matplotlib==3.7.1
boto3==1.26.157
gunicorn==20.1.0
Flask==2.3.2
aiohttp==3.8.4
python-awips==18.1.11
numpy==1.25.0
Cartopy==0.21.1
adjustText==0.8