requests==2.31.0
slack-bolt==1.18.1
pynamodb==6.0.0
shapely==2.0.4
matplotlib==3.8.4
boto3==1.34.93
gunicorn==22.0.0
Flask==3.0.3
aiohttp==3.9.5
python-awips==20.1
numpy==1.26.4
Cartopy==0.23.0
adjustText==1.1.1
MetPy==1.6.2
pyshp==2.3.1
descartes==1.1.0
pytz==2024.1
